.App {
  min-width: 960px;
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.App-login,
.App-loading {
  display: flex;
  height: calc(100vh - 190px);
  justify-content: center;
  align-items: center;
}

.App-loading img {
  display: block;
  vertical-align: top;
  animation: App-logo-spin infinite 1.5s linear;
}

.App-login button {
  appearance: none;
  cursor: pointer;
  display: flex;
  box-sizing: content-box;
  height: 64px;
  margin: 0;
  padding: 24px;
  border: none;
  background-color: #fff;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0);
  color: #222;
  font-size: large;
  line-height: 1;
  transition: box-shadow 200ms ease;
}
.App-login button:hover,
.App-login button:active{
  box-shadow: 0 3px 5px rgba(0, 0, 0, .4);
}

.App-login img {
  margin-right: 15px;
  vertical-align: middle;
}

.App-login span {
  display: inline-block;
  line-height: 32px;
}

.App-main {
  display: flex;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
